:root {
	/* ------- colors ------- */
	--primary-color: #4f4fb0;
	--secondary-color: rgb(5, 5, 110);
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #906eee;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
